/** core styles and body */
:root {
    --color1: #0A1C40;
	--color2: #022840;
    --color3: #023A40;
    --color4: #F2E1C2;
	--color5: #F2CDA0;
    --color6: #8C6764;
    --color7: rgb(255, 102, 0);
    --color8: rgba(120, 120, 120, 0.3);
    --color9: #5B6B86;
    --color10: rgba(255, 255, 255, 0.4);
    --color11: #00d647;
}
html, body {
    margin: 0px;
    padding: 0px;
    background: var(--color4);
    font-family: Arial, Helvetica, sans-serif;
}
button {
    cursor: pointer;
}
input, button, hr, textarea {
    border: unset;
}





/** navigation */
.nav {
    display: flex;
    flex-flow: row nowrap;
    background-color: var(--color1);
    height: 40px;
    width: 100%;
    align-items: center;
    color: var(--color4);
    position: sticky;
    top: 0;
    z-index: 99;
    font-size: 13px;
}
.nav .banner {
    align-self: stretch;
    background: var(--color5);
    color: var(--color1);
    height: 60%;
    text-align: center;
    margin: auto auto auto 1em;
    width: 5rem;
    padding-top: .5em;
    border-radius: 5px;
    font-weight: 700;
}
.nav ul {
    display: flex;
    margin: auto;
    justify-content: space-around;
    width: 700px;
    list-style: none;
}
.nav li a {
    color: var(--color4);
    text-decoration: none;
}
nav li a:hover {
    color: var(--color1);
    background: var(--color4);
}
.nav li .icon {
    display: none;
}
.nav .admin-profile {
    margin-right: 2%;
}
.nav .admin-profile img {
    width: 30px;
    height: 30px;
    border: 1px solid var(--color4);
    border-radius: 50%;
}

/** admin-home */




/** create-article-section */
.create-article-section {
    max-width: 750px;
    margin: auto;
    background-color: var(--color10);
    color: var(--color9);
    font-size: 20px;
    font-weight: 100;
    font-size: 1.3rem;
    font-family: Charlie Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;;
    line-height: 1.4;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.create-article-section > hr {
    height: 3px;
    background-color: var(--color1);
}
.create-article-section .create-article-form {
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
}
.create-article-form label {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    margin-top: 15px;
}
.create-article-form textarea, .create-article-form input {
    font-weight: 100;
    font-size: 1.3rem;
    font-family: Charlie Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;;
    line-height: 1.4;
}
.create-article-form textarea::placeholder, .create-article-form input::placeholder {
    color: var(--color8);
}
.create-article-form textarea {
    padding: 15px;
    resize: vertical;
    display: block;
    min-height: 30vh;
}
.create-article-form input[type="text"] {
    height: 40px;
    padding-left: 15px;
    font-weight: 600;
}
.create-article-buttons .publish-btn {
    border-radius: 3px;
    background-color: var(--color11);
    color: white;
    font-size: 23px;
    font-weight: 600;
    margin-top: 15px;
    float: right;
    width: 150px;
    height: 40px;
}

/** view-articles-page */
.view-articles-section {
    max-width: 900px;
    margin: auto;
    background-color: var(--color10);
    color: var(--color9);
    font-size: 20px;
    font-weight: 100;
    font-family: Charlie Text,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubuntu,Droid Sans,Helvetica Neue,sans-serif;;
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.view-articles-section > hr {
    height: 3px;
    background-color: var(--color1);
}
.all-articles {
    width: 100%;
}
.all-articles .article {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
    padding:  1px;
    margin-top: 5px;
}
.all-articles .article:hover {
    background-color: rgba(255, 255, 255, 0.4);
}
.all-articles .article .article-text {
    margin-right: auto;
}
.all-articles .article .article-text > * {
    margin: unset;
    height: 1.3em;
    overflow: hidden;
}
.all-articles .article .article-text .details {
    font-size: 14px;
    color: var(--color3);
    font-weight: 600;
    padding-left: 5%;
}
.all-articles .article .cover-image {
    margin: auto;
    margin-right: 10px;
}
.all-articles .article .cover-image img {
    max-width: 135px;
    max-height: 70px;
}
.all-articles .article .btns {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
}
.all-articles .article .btns > * {
    display: block;
    max-height: 25px;
    min-width: 125px;
    margin: 2px;
    font-size: 18px;
    color: white;
    border-radius: 3px;
    border: 1px solid white;
}
.all-articles .article .btns a {
    text-align: center;
    display: block;
    width: 100%;
    background-color: cadetblue;
    font-weight: 400;
    text-decoration: none;
}
.all-articles .article .btns .update {
    background: var(--color11);
}
.all-articles .article .btns .delete {
    background: #BF2806;
}
    /* confirm delete */
.confirm-delete-section {
    height: 98vh;
    width: 98vw;
    top: 0%;
    position: fixed;
    z-index: 100;
    background-color: var(--color1);
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 2%;
}
.confirm-delete-section > * {
    text-align: center;
}
.confirm-delete-section > h4 {
    color: var(--color7);
    letter-spacing: 0.1em;
}
.confirm-delete-section > h2 {
    color: white;
}
.confirm-delete-section > p {
    color: var(--color11);
}
.delete-form .confirm-delete {
    color: var(--color9);
    margin-bottom: 15%;
}
.delete-form .big-delete-btn {
    height: 50px;
    width: 60vw;
    color: white;
    font-size: 2em;
    background: #BF2806;
    border: 3px solid white;
    border-radius: 20px;
    margin-bottom: 10vh;
}
.confirm-delete-section .confirm-delete, .confirm-delete-section .confirm-delete button {
    display: block;
}
.confirm-delete-section .cancel-delete {
    width: 5vw;
    height: 5vw;
    min-width: 35px;
    min-height: 35px;
    border-radius: 50%;
    color: #BF2806;
    font-weight: 600;
    margin-right: 5vw;
    align-self: flex-end;
    background: var(--color4);
}
.view-articles-section .hide {
    display: none;
}





@media screen and (max-width: 800px) {
    
    /** navigation */
    .nav .banner {
        min-width: 60px;
    }
    .nav ul {
        background: var(--color1);
        flex-flow: column nowrap;
        justify-content: space-around;
        width: 500px;
        margin: 5px 0px auto auto;
        position: relative;
        right: -35px;
        z-index: 1;
    }
    .nav ul li {
        height: 20px;
        border-bottom: 0.5px solid rgba(100, 100, 150, 0.4);
    }
    .nav li a {
        display: block;
        padding-top: 2px;
        width: 100%;
        height: 100%;
    }
    .nav li [href="#"], .nav li [href="articles.html"] {
        width: 70%;
        margin: unset;
    }
    .nav ul li .icon {
        display: inline;
        float: right;
        max-width: 13px;
        margin-right: 10px;
    }
    .nav .admin-profile {
        z-index: 5;
    }

        /* toggle navbar */
    .responsive:first-child {
        visibility: visible;
        position: fixed;
        top: 5px;
        right: 5px;
        z-index: 100;
    }
    .responsive .fa-bars {
        visibility: visible;
        background-color: var(--color1);
        color: var(--color4);
        position: absolute;
        top: initial;
        right: initial;
    }
    .responsive {
        visibility: hidden;
    }

    /** view-articles-section */
    .all-articles .article .article-text {
        max-width: unset;
        margin: unset;
        justify-self: stretch;
    }
    .all-articles .article {
        flex-flow: row wrap;
        justify-content: flex-start;
    }
    .all-articles .article .cover-image {
        margin: unset;
        margin-right: auto;
    }
    .all-articles .article .btns {
        margin-left: auto;
    }

        /* confirm-delete-section */
    .delete-form .big-delete-btn {
        font-size: 1.2em;
    }
    .confirm-delete-section > h2 {
        font-size: 18px;
        letter-spacing: 0.05em;
    }
  
}
